h1 {
    color: salmon;
    font-weight: lighter;
    font-family: Georgia;
}

/*div {
    background-color: mistyrose;
    height: 25em;
    width: 22em;
}*/
/*
#images { 
  display: block;
  max-width: 700px;
  max-height: 300px;
}*/

body {
    background-color: #C1DAD6;
    background-repeat: no-repeat;
}
img {
    display: block;
    padding: 3px;
    position: relative;
    width:  500px;
    height: 500px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
button {
    width: 10em;
    height: inherit;
}
a {
    color: salmon;
}