/*intro page styles*/
h1 {
    color: salmon;
    font-weight: lighter;
    font-family: Georgia;
    text-align: center;
}
button {
    width: 10em;
    height: inherit;
    margin-left: 650px;
}
body { 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover 
}
/*reddit page list styles*/
img {
    display: block;
    padding: 3px;
    position: relative;
    width:  550px;
    height: 550px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

a {
    color: salmon;
}
intro {
    background-color: mistyrose;
    display: block;
    /*padding: 3px;*/
    position: relative;
    width:  550px;
    height: 550px;
    
}
