h1 {
    color: salmon;
    font-weight: lighter;
    font-family: Georgia;
}

/*div {
    background-color: mistyrose;
    height: 25em;
    width: 22em;
}*/
/*
#images { 
  display: block;
  max-width: 700px;
  max-height: 300px;
}*/

body {
    background-color: mistyrose;
    background-repeat: no-repeat;
}
img {
    display: block;
    padding: 3px;
}
button {
    width: 10em;
    height: inherit;
}
a {
    color: salmon;
}